
/********************
 * START COMPONENTS *
 ********************/

// start Scroll To Top Component
.scroll-top {
  appearance: none;
  cursor: pointer;
  background-color: $color;
  color: white;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  border:none;
  &.visible {
    animation: 0.3s opacity both;
  }
}
// end Scroll To Top Component

// start collapse switch
$height: 2rem;
$light-gray: #dedede;
.collapse-toggle {
  user-select: none;
  width: $height * 2;
  height: $height;
  position: relative;
  overflow: hidden;

  label {
    width: $height * 2;
    height: $height;
    border-radius: $height/2;
    background-color: rgba($text, 0.3);
    cursor: pointer;
    display: block;
    &:active:after {
      width: $height * 1.5;
    }
    &:after {
      width: $height * 0.8;
      height: $height * 0.8;
      background-color: $text;
      content: "";
      position: absolute;
      border-radius: $height;
      top: 0;
      left: 0;
      transition: all 0.5s;
      margin: $height * 0.1;
    }
    .collapse-toggle_text {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: $height/2;
      width: 100%;
      height: 100%;
      user-select: none;
      .on {
        color: white;
      }
      .off {
        color: $text;
      }
    }
  }
  input {
    display: none;
    &:checked {
      & + label {
        background-color: rgba($color, 0.3);
        &:after {
          left: unset;
          background-color: $color;
          right: 0.1 * $height;
          transform: translateX(0.1 * $height);
        }
      }
    }
  }
}
// end collapse switch

//start github ribbon 
.github-fork-ribbon:before {
  background-color: $color;
  color: white;
}
//end github ribbon 

// start search-field 
.search-field {
  width: 400px;
  max-width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include xs {
    padding: 0.5rem;
  }
  .form-control:focus {
    border-color: $color;
    box-shadow: 0 0 0 0.2rem rgba($color, 25%);
  }
}
// end search-field 
/******************
 * END COMPONENTS *
 ******************/