$color: rgb(random(100), random(100), random(100));

$text: #333;
body {
  background-color: rgba($color, 0.2);
  color: $text;
  box-sizing: border-box;
}
.content {
  text-transform: capitalize;
  li {
    text-transform: initial;
  }
  h1 {
    text-align: center;
    margin: 2rem;
  }
}
.group {
  ul {
    list-style: none;
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    border-radius: 10px;
    margin: 0.5rem;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 20rem;
    }
  }
  h2 {
    margin: 1rem;
    text-align: center;
    color: $color;
    // & span > span:nth-of-type(n-2) {
    //   background: red;
    // }
  }
  li {
    background-color: rgba($color, 0.05);
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.5rem;
    overflow: hidden;
    .item {
      color: #fff;
      background-color: $color;
      margin: 0.1rem;
      padding: 0px 0.3rem;
      border-radius: 1rem;
      float: right;
      a:hover {
        color: #fff;
      }
    }
  }
  button {
    width: 100%;
    margin: 1rem auto;
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    padding: 0.3rem;
    border: 1px solid $color;

    &.more {
      background-color: $color;
      color: white;
    }
    &.less {
      background-color: white;
      color: $color;
    }
  }
}
a {
  color: inherit;
  text-decoration: capitalize;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.fw-bold {
  font-weight: bold;
}
span.tag {
  color: #fff;
  background-color: $color;
  margin: 0.1rem;
  padding: 0px 0.3rem;
  border-radius: 1rem;
  float: right;
  a:hover {
    color: #fff;
  }
}
.text-underline {
  text-decoration: underline;
}

.search-form {
  width: 400px;
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .form-control:focus {
    border-color: $color;
    box-shadow: 0 0 0 0.2rem rgba($color, 25%);
  }
  .search-form-button {
    background-color: $color;
    color: white;
    padding: 0.3rem 0.5rem;
    margin: 1rem auto;
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    border: 1px solid $color;
  }
}
.select-text{
  background:rgba($color,0.8);
  color:white;
}